.coinImg {
    @media screen and (min-width: 768px) {
        width: 25px;
        height: 26px;
    }
    width: 30px;
    margin-right: 8px;
}
.name {
    display: flex;
    align-items: center !important;
}

.css-1v5u2yv {
    overflow-x: hidden;
    padding : 0 !important;
}

.mobile-hide {
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.pc-hide {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

a {
    text-decoration: none !important;
}